@font-face {
  font-family: "Archivo";
  src: url("/fonts/Archivo-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Archivo";
  src: url("/fonts/Archivo-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Archivo";
  src: url("/fonts/Archivo-Black.ttf");
  font-style: normal;
  font-weight: 900;
}

:root {
  font-size: 24px;
  line-height: 1.1; /* pretty low */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* vars and such */
  --yellow: #faff00;
}

body {
  margin: 0;
  font-family: "Archivo", Helvetica, Arial, sans-serif;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  font-weight: 900;
  line-height: 1.2;
  font-family: "Archivo", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2em;
}

a {
  color: var(--yellow);
  font-weight: bold;
  text-decoration: underline;
  transition: opacity .20s;
}

a:hover {
  opacity: .65;
}

a.uh-oh  {
  cursor: pointer;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}
